@import'libs/variable';
@import'libs/minireset';
@import'libs/grid';
@import'libs/utilities';
@import'libs/form';
@import'libs/button';

body{
    background-color: $bg;
    font-family: 'Ubuntu', sans-serif;
    cursor: none;
    
}

/*-- NavBar --*/
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    min-height: 8vh;
    background-color: rgba($color: #000000, $alpha: 0.8);
}

#navbar{
    transition: 0.4s;
}

.logo{
    color: $text;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

.nav-links a{
    color: $text;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: 400;
    font-size: 14px;
    &:hover{
        color: $hover;
    }
    &.active{
        color: $hover;
    }
}


.burger{
    display: none;
}

.burger div{
    width: 25px;
    height: 3px;
    background-color: $text;
    margin: 5px;
    transition: all 0.3s ease;
}



@media screen and (max-width:1024px){
    .nav-links{
        width: 50%;
    }
}

@media screen and (max-width:768px){
    body{
        overflow-x: hidden;
    }

    .nav-links{
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: rgba($color: #000000, $alpha: 0.8);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }


    .nav-links li{
        opacity: 0;
    }

    .burger{
        display: block;
        cursor: pointer;
    }
}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/*-- End NavBar --*/
/*-- cursor --*/
.cursor {
    width: 60px;
    height: 60px;
    border: 1px solid black;
    background-color: rgba($color: #000000, $alpha: 0.3);
    border-radius: 50%;
    position: absolute;
    animation: Anim1 1s infinite alternate;
    pointer-events: none;
    z-index: 1000;
}

.cursor::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 5px;
    height: 5px;
    background: $hover;
    border-radius: 50%;
}

.expand {
    animation: Anim2 .5s;
    background: $hover;
    border: 1px solid $hover;
}
@keyframes Anim1 {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(0.7) rotate(190deg);
    }
}

@keyframes Anim2 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
        opacity:0;
    }
}
/*-- Header --*/
.inner-width{
    max-width: 1300px;
    margin: auto;
    padding: 0 40px;
    h1{
        text-transform: uppercase;
        letter-spacing: 5px;
        font-weight: bolder;
        color: #585858;
        font-size: 64px;
        margin: 2rem;
        position: absolute;
        top: 50%;
        left: 5%;
    }
}

#home{
    height: 100vh;
    min-height: 500px;
    background: url(../images/header.jpg) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
}

#home .inner-width{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
}
/*-- End Header --*/

p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color:$textp;
}

.section{
    padding-top: 7vh;
    h1{
        text-transform: capitalize;
        margin-bottom: 8vh;
    }
}

/*-- Products*/
.card {
min-height: 40vh;
width: 100%;
border-radius: 30px;
margin-bottom: 30px;
padding: 0rem 2rem;
box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
min-height: 20vh;
display: flex;
align-items: center;
justify-content: center;
}

.sneaker img {
width: 8rem;
z-index: 2;
}

.circle {
width: 10rem;
height: 10rem;
background: linear-gradient(
    to right,
    rgba(245, 70, 66, 0.75),
    rgba(8, 83, 156, 0.75)
);
position: absolute;
border-radius: 50%;
z-index: 1;
}

.info h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
}

.sizes {
    display: flex;
    justify-content: space-around;
}

.sizes button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;   
}

button{
    outline:none;
}

  button.active {
    background: #585858;
    color: white;
}

.purchase {
    margin-top: 5rem;
}

.purchase button {
width: 100%;
padding: 1rem 0rem;
margin-bottom: 2rem;
background: #f54642;
border: none;
color: white;
cursor: pointer;
border-radius: 30px;
font-weight: bolder;
}

.purchase button:active{
    box-shadow: inset 13px 13px 21px #fa1a1a, 
            inset -13px -13px 21px #f0332f;
}

/*-- slider --*/
.slideshow{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}

.slideshow-item{
    width: inherit;
    height: inherit;
    position: absolute;
    opacity: 0;
    animation: slideanim 31s infinite;
}

.slideshow-item:nth-child(1),
.slideshow-item:nth-child(1) img{
    animation-delay: 0;
}
.slideshow-item:nth-child(2),
.slideshow-item:nth-child(2) img{
    animation-delay: 10s;
}

.slideshow-item:nth-child(3),
.slideshow-item:nth-child(3) img{
    animation-delay: 20s;
}

.slideshow-item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: zoom 31s infinite;
}

.slideshow-item-text{
    max-width: 40%;
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    left: 0;
    background-color: rgba(0,0,0,0.8);
    color: #fff;
    padding: 1rem 5rem;
    font-family: 'Raleway', sans-serif;
}

.slideshow-item-text h5{
    font-size: 3.5rem;
    letter-spacing: 3px;
}

.slideshow-item-text p{
    font-weight: 300;
    font-size: 1.6rem;
    margin-top: 2rem;
}

@keyframes slideanim{
    25%{
        opacity: 1;
    }
    40%{
        opacity: 0;
    }
}

@keyframes zoom{
    100%{
        transform: scale(1.3);
    }
}

@media screen and (max-width: 1175px){
    .slideshow-item-text{
        max-width: 55%;
    }
    
}

@media screen and (max-width: 768px){
    .slideshow-item-text{
        max-width: 100%;
        top: 50%;
        transform: translateY(0);
        bottom: 0;

    }

    .slideshow-item-text h5{
        font-size: 2.5rem;
    }

    .slideshow-item-text p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 456px){
    .slideshow-item-text{
        max-width: 100%;
        top: 50%;
        transform: translateY(0);
        bottom: 0;
    }

    .slideshow-item-text h5{
        font-size: 2rem;
    }

    .slideshow-item-text p{
        font-size: 1rem;
    }
}

/*-- filter --*/
.filter-menu{
    margin: 5rem;
    li{
        font-family: 'Ubuntu', sans-serif;
        font-weight: bolder;
    }
}
.filter-menu li{
    display: inline-flex;
    margin-bottom: 0.25rem;
    padding: 10px 18px;
    background: #f54642;
    color: #fff;
    cursor: pointer;
}
.filter-menu li:hover,
.filter-menu li.current{
    background: #ff7979;
}

.filter-item li{
    width: 50%;
    padding: 2px;
    float: left;
}

.filter-item li.active{
    width: 50%;
    padding: 2px;
    transition: all 0.5s ease;
}

.filter-item li.delete{
    width: 0%;
    padding: 0;
    transition: all 0.5s ease;
}

.filter-item img{
    display: inline-flex;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    .filter-item li.active,
    .filter-item li{
        width: 33.33%;
    }


}

@media screen and (min-width: 1280px){
    .filter-item li.active,
    .filter-item li{
        width: 25%;
    }

  
}

.footer{
    clear: both;
}

.main-footer{
    width: 100%;
    margin-top: 5rem;
    background: #3b413c;
}

.footer-content{
    padding: 85px 0px 50px 0px;
}

.footer-content .footer-social li{
    display: inline-block;
    margin-right: 9px;
}

.footer-content .footer-social li:last-child{
    margin-right: 0px;
}

.footer-content .footer-social li a{
    display: inline-block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    background: #2e3138;
    color: #9ea0a9;
    text-align: center;
    border-radius: 50%;
}

.footer-content .footer-social li a:hover{
    color: #ffffff;
    background: $hover;
}

.footer-content .text p{
    color: #9ea0a9;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    margin-bottom: 32px;
}

.footer-content .footer-title{
    font-size: 24px;
    line-height: 35px;
    font-family: 'Ubuntu', sans-serif;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 27px;
}

.footer-content .service-widget .list li{
    display: block;
    margin-bottom: 12px;
}

.footer-content .service-widget .list li a{
    display: inline-block;
    font-family: 'Ubuntu', sans-serif;
    font-weight: ital,400;
    color: #9ea0a9;
}

.service-widget{
    padding-left: 30%;
}

.footer-content .service-widget .list li a:hover{
    color:$hover;
}

.footer-content .contact-widget p{
    color: #9ea0a9;
    margin-bottom: 15px;
}

@media screen and (max-width: 990px){
    .service-widget{
        padding-left: 0%;
    }
}

.footer-bottom{
    background:#1e2129;
    padding: 25px 0px 22px 0px;
}

.footer-bottom .copyright,
.footer-bottom .copyright a,
.footer-bottom .footer-nav li a{
    font-weight: 400;
    color: #9ea0a9;
}

.footer-bottom .copyright a:hover,
.footer-bottom .footer-nav li a:hover{
  color:$hover;
}

.footer-bottom .footer-nav{
    padding-left: 35%;
}

@media screen and (max-width: 992px){
    .footer-bottom .footer-nav{
        padding-left: 0%;
    }
}

.footer-bottom .footer-nav li{
    display: inline-flex;
    margin-right: 2rem;
}

